.character-slider {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  z-index: 20;
}

.character-slider-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.character-slider--item {
  position: absolute;
  top: 5%;
  right: -30%;
  overflow: hidden;
  height: 95%;
}

.character-slider--image {
  height: 1600px;
  width: auto;
  transition: transform 0.3s ease-in-out;
}
