@use "../base/colors" as colors;

.footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 30vh;
  padding: 0 3rem;

  background-color: colors.$sky-yellow;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  width: 60%;
  z-index: 20;
}

.footer--heading {
  color: colors.$burnt-orange;
  font-size: 2.6rem;
}

.footer--body-text {
  width: 75%;
}

.footer--logo {
  position: absolute;
  top: -3.7rem;
  z-index: 100;
}

.footer--logo-image {
  z-index: 100;
  height: 7rem;
  width: auto;
}

.footer-countdown {
  padding: 0 0.6rem;
  color: colors.$primary-white;
  background-color: colors.$burnt-orange;
  border: 3px solid colors.$primary-black;
  border-radius: 0.4rem;
}
