@use "../base/colors" as colors;

.header {
  width: 100%;
  // height: 70vh;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  // height: 100%;
}

.header-heading {
  position: relative;
  color: colors.$sky-yellow;
  font-size: 12rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: colors.$primary-black;
  transform: rotate(-10deg);
  z-index: 10;
}

.header-spaceship {
  position: absolute;
  top: 35%;
  right: 50%;
  z-index: 15;
}

.header-spaceship-img {
  height: 10rem;
  width: auto;
  z-index: 100;
}
